// COLORS
$primary-color: #159957;
$secondary-color: #155799;

// $primary-color: #c31432;
// $secondary-color: #6600ff;

// $primary-color: #333399;
// $secondary-color: #c31432;

$white-color: #000000;

$dark-grey: #333333;
$light-grey: #ffffff;
// $white-color: white;

// $dark-grey: black;
// $light-grey: #181818;
$dark-blue-text: white; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
