.about-me-bg {
  margin-top: 8em;
  margin-left: 3em;

  margin-right: 3em;
  /* border-color: rgba(255, 255, 255, 0.801);
  border-style: solid;
  border-radius: 0.3em; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.about-me-wellcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0.5em;
  text-align: center;
}
.about-me-desc {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.5em;
  text-align: center;
}

.hello-there {
  font-size: 4em;
  margin-bottom: 0.6em;
  margin-top: 0.3em;
}

.intro {
  font-size: 2.5em;
}
.general-desc {
  font-size: 2em;
}

.social-container {
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.social-item {
  margin: 20px;

  transition: transform 0.2s;
}
.social-item:hover {
  color: #ffffff;
  transform: scale(1.2);
}
