.about-me-bg {
  margin-top: 8em;
  margin-left: 3em;

  margin-right: 3em;
  /* border-color: rgba(255, 255, 255, 0.801);
  border-style: solid;
  border-radius: 0.3em; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.about-me-wellcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0.5em;
  text-align: center;
}
.about-me-desc {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.5em;
  text-align: center;
}

.hello-there {
  font-size: 3em;
  margin-bottom: 0.6em;
  margin-top: 0.3em;
}

.intro {
  font-size: 2.5em;
}
.general-desc {
  font-size: 2em;
}

.social-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  /* width: 1vw; */
}
.social-item {
  margin: 20px;

  transition: transform 0.2s;
}
.social-item:hover {
  color: #ffffff;
  transform: scale(1.2);
}
@media screen and (orientation: portrait) {
  .social-item {
    height: 33px;
    width: 33px;
    margin: 7.5px;
  }
  .hello-there {
    font-size: 2.3em;
    margin-bottom: 0.6em;
    margin-top: 0.3em;
  }

  .intro {
    font-size: 1.8em;
  }
  .general-desc {
    font-size: 1.4em;
  }
}
